#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1 {
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#my-form input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 40px;
}